flow.json
[
    {
        "id": "dde5902e.a2c9d",
        "type": "tab",
        "label": "CardBot Main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "336e466f.27575a",
        "type": "subflow",
        "name": "Query Restaurant",
        "info": "Query restaurant nearby, results payload\n\n[\n  {\n    name: 'Restaurant name' \n  },\n  // ...\n]",
        "in": [
            {
                "x": 60,
                "y": 340,
                "wires": [
                    {
                        "id": "fa46917c.ccfe7"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 680,
                "y": 200,
                "wires": [
                    {
                        "id": "b91ca546.7d52f8",
                        "port": 0
                    },
                    {
                        "id": "5e353e66.cc94b",
                        "port": 0
                    }
                ]
            },
            {
                "x": 640,
                "y": 100,
                "wires": []
            }
        ]
    },
    {
        "id": "4eecbbaf.4cf274",
        "type": "subflow",
        "name": "Show restaurant",
        "info": "Get the 'queryRestaurants' variable and show as buttons",
        "in": [
            {
                "x": 320,
                "y": 300,
                "wires": [
                    {
                        "id": "bde5c5f7.113728"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 920,
                "y": 300,
                "wires": [
                    {
                        "id": "bde5c5f7.113728",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "f03fde26.826cd",
        "type": "chatbot-telegram-node",
        "z": "",
        "botname": "Guidone TEST",
        "usernames": "",
        "providerToken": "",
        "polling": "1000",
        "store": "",
        "log": "",
        "parseMode": ""
    },
    {
        "id": "2f23474c.126db8",
        "type": "chatbot-dialogflow-token",
        "z": "",
        "name": "CardBot"
    },
    {
        "id": "3ecb4316.35e29c",
        "type": "chatbot-context-store",
        "z": "",
        "name": "File",
        "contextStorage": "plain-file",
        "contextParams": "{\"path\":\"/web\"}"
    },
    {
        "id": "2e34e345.01be2c",
        "type": "chatbot-telegram-node",
        "z": "",
        "botname": "CardBot TEST",
        "usernames": "",
        "providerToken": "",
        "polling": "1000",
        "store": "3ecb4316.35e29c",
        "log": "",
        "parseMode": ""
    },
    {
        "id": "a12b865a.9b7f88",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "fb202ea2.5e9c8",
        "type": "google-api-config",
        "z": "336e466f.27575a"
    },
    {
        "id": "2cb254d.95a19ac",
        "type": "chatbot-telegram-receive",
        "z": "dde5902e.a2c9d",
        "bot": "2e34e345.01be2c",
        "botProduction": "",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "1b747c43.bf9a64",
                "cd3da08e.77b53"
            ]
        ]
    },
    {
        "id": "4d135b33.8b85a4",
        "type": "config",
        "z": "dde5902e.a2c9d",
        "name": "Configuration",
        "properties": [
            {
                "p": "language",
                "pt": "global",
                "to": "it",
                "tot": "str"
            },
            {
                "p": "latitude",
                "pt": "global",
                "to": "45.4825125",
                "tot": "num"
            },
            {
                "p": "longitude",
                "pt": "global",
                "to": "9.2047413",
                "tot": "num"
            }
        ],
        "active": true,
        "x": 220,
        "y": 100,
        "wires": []
    },
    {
        "id": "10888fbd.1e1bd",
        "type": "chatbot-dialogflow",
        "z": "dde5902e.a2c9d",
        "dialogflow": "2f23474c.126db8",
        "language": "en",
        "debug": true,
        "variable": "intent",
        "x": 1080,
        "y": 360,
        "wires": [
            [
                "6756ea1.36d8e14"
            ],
            [
                "6cff748.7f2d88c"
            ]
        ]
    },
    {
        "id": "fb6ef42d.3e2778",
        "type": "function",
        "z": "dde5902e.a2c9d",
        "name": "Set language",
        "func": "var language = context.global.language;\n\nmsg.payload.language = language;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 850,
        "y": 360,
        "wires": [
            [
                "10888fbd.1e1bd"
            ]
        ]
    },
    {
        "id": "6756ea1.36d8e14",
        "type": "chatbot-rules",
        "z": "dde5902e.a2c9d",
        "name": "Switch intents",
        "rules": [
            {
                "type": "isVariable",
                "variable": "intent",
                "value": "conversation.query.restaurant"
            },
            {
                "type": "isVariable",
                "variable": "intent",
                "value": "conversation.recap"
            },
            {
                "type": "isVariable",
                "variable": "intent",
                "value": "conversation.where"
            },
            {
                "type": "isVariable",
                "variable": "intent",
                "value": "conversation.back"
            },
            {
                "type": "isVariable",
                "variable": "intent",
                "value": "conversation.rating"
            },
            {
                "type": "isVariable",
                "variable": "intent",
                "value": "conversation.startover"
            },
            {
                "type": "isVariable",
                "variable": "intent",
                "value": "conversation.nearest.restaurant"
            },
            {
                "type": "isVariable",
                "variable": "intent",
                "value": "conversation.more"
            },
            {
                "type": "isVariable",
                "variable": "intent",
                "value": "conversation.help"
            },
            {
                "type": "catchAll"
            }
        ],
        "outputs": 10,
        "x": 1320,
        "y": 320,
        "wires": [
            [
                "f8b53fd8.927b3"
            ],
            [
                "4c70e62c.7aa2e8"
            ],
            [
                "defe5071.1e372"
            ],
            [
                "540c16fb.a0c578"
            ],
            [
                "e4273678.ffa628"
            ],
            [
                "f8673d15.114b"
            ],
            [
                "762f5fe9.b1275"
            ],
            [
                "c963774f.b7b1c8"
            ],
            [
                "796edd3.cd6a324"
            ],
            [
                "39af2978.f0a786"
            ]
        ]
    },
    {
        "id": "f8b53fd8.927b3",
        "type": "chatbot-context",
        "z": "dde5902e.a2c9d",
        "command": "set",
        "fieldValue": "restaurant.list",
        "fieldType": "str",
        "fieldName": "topic",
        "x": 1560,
        "y": 280,
        "wires": [
            [
                "6c691444.4e487c"
            ]
        ]
    },
    {
        "id": "b91ca546.7d52f8",
        "type": "function",
        "z": "336e466f.27575a",
        "name": "",
        "func": "var chat = msg.chat();\nvar mockResults = [\n  {\n    id: '1',\n    name: 'Ristorante da Giggino',\n    address: 'via Zambelli, 12 - Milano'\n  },\n  {\n    id: '2',\n    name: 'Taverna er Murena',\n    address: 'corso Magenta 42 - Milano'\n  },\n  {\n    id: '3',\n    name: 'Ristorante Malox Plus',\n    address: 'via di Qua, 42 - Milano'\n  }\n];\n\nchat.set('queryRestaurants', mockResults)\n  .then(function() {\n    msg.payload = mockResults;\n    node.send(msg);\n  });\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "415a7c18.461774",
        "type": "subflow:336e466f.27575a",
        "z": "dde5902e.a2c9d",
        "name": "",
        "x": 360,
        "y": 620,
        "wires": [
            [
                "1ed23f28.8a4ef1"
            ],
            []
        ]
    },
    {
        "id": "c495d887.70d8c8",
        "type": "link in",
        "z": "dde5902e.a2c9d",
        "name": "Send Message",
        "links": [
            "a1a36112.a267a",
            "1fa0c89e.4923b7",
            "e5dbb97f.611078",
            "cb2b5a9c.7302a8",
            "8270e1f9.4be2c",
            "1520a6db.496d29",
            "ec6aac56.979b9",
            "40621a82.1f2804",
            "3886a270.d97cae",
            "f8ccad8c.032ae",
            "49d321ab.3b9b7",
            "93ab350a.482058",
            "e8e0a13d.005e1",
            "6a4ad002.acddb",
            "bf988934.a7b9a8",
            "795f352d.1a777c",
            "e030725a.a4834",
            "33870301.a35a2c",
            "22791259.3cfa4e",
            "14331687.f04e49",
            "e7c18a84.137c18",
            "39a1301c.2f82b",
            "b9a7bf88.e934c",
            "2cc0be1e.809792",
            "9d75d1f4.3fc2d",
            "7164d485.5feaec"
        ],
        "x": 135,
        "y": 180,
        "wires": [
            [
                "3010d42d.22774c"
            ]
        ]
    },
    {
        "id": "3010d42d.22774c",
        "type": "chatbot-telegram-send",
        "z": "dde5902e.a2c9d",
        "bot": "2e34e345.01be2c",
        "botProduction": "",
        "track": false,
        "outputs": 0,
        "x": 290,
        "y": 180,
        "wires": []
    },
    {
        "id": "a1a36112.a267a",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c495d887.70d8c8"
        ],
        "x": 995,
        "y": 620,
        "wires": []
    },
    {
        "id": "ff305f6c.2abe4",
        "type": "link in",
        "z": "dde5902e.a2c9d",
        "name": "Show restaurant list",
        "links": [
            "6c691444.4e487c",
            "ca047d44.f7bc"
        ],
        "x": 155,
        "y": 620,
        "wires": [
            [
                "415a7c18.461774"
            ]
        ]
    },
    {
        "id": "b821a81f.eec4b8",
        "type": "comment",
        "z": "dde5902e.a2c9d",
        "name": "Show restaurant lists",
        "info": "",
        "x": 240,
        "y": 560,
        "wires": []
    },
    {
        "id": "6c691444.4e487c",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "ff305f6c.2abe4"
        ],
        "x": 1655,
        "y": 280,
        "wires": []
    },
    {
        "id": "de26d1b0.17d15",
        "type": "link in",
        "z": "dde5902e.a2c9d",
        "name": "Select restaurant",
        "links": [
            "1cc0f40e.35d3ec"
        ],
        "x": 155,
        "y": 840,
        "wires": [
            [
                "2e389fe4.d491"
            ]
        ]
    },
    {
        "id": "f2364d15.62725",
        "type": "comment",
        "z": "dde5902e.a2c9d",
        "name": "Select restaurant \"/restaurant <id>\"",
        "info": "",
        "x": 280,
        "y": 780,
        "wires": []
    },
    {
        "id": "2e389fe4.d491",
        "type": "function",
        "z": "dde5902e.a2c9d",
        "name": "Select and store restaurant",
        "func": "console.log('selected restaurant', msg.payload)\nvar chat = msg.chat();\nvar args = msg.payload.arguments;\nvar restaurantId = args.length > 0 ? args[0] : null;\n\nchat.get('queryRestaurants')\n  .then(function(restaurants) {\n    console.log('restaurants', restaurants)\n    if (restaurants == null || restaurantId == null) {\n      node.send([null, msg]);\n    } else {\n        console.log('restaurantId', restaurantId)\n      var restaurant = restaurants.find(restaurant => restaurant.id === restaurantId);\n      console.log('restaurtant', restaurant)\n      if (restaurant != null) {\n       chat.set({selectedRestaurant: restaurant, topic: 'restaurant.selected'})\n         .then(function() {\n           node.send([msg, null]); \n         });\n      } else {\n        node.send([null, msg]);  \n      }\n    }\n  });\n\n",
        "outputs": 2,
        "noerr": 0,
        "x": 360,
        "y": 840,
        "wires": [
            [
                "41a50237.26131c"
            ],
            [
                "f5d10c6c.7b891"
            ]
        ]
    },
    {
        "id": "1cc0f40e.35d3ec",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "de26d1b0.17d15"
        ],
        "x": 715,
        "y": 140,
        "wires": []
    },
    {
        "id": "1b747c43.bf9a64",
        "type": "chatbot-rules",
        "z": "dde5902e.a2c9d",
        "name": "Detect commands",
        "rules": [
            {
                "type": "command",
                "command": "/restaurant"
            },
            {
                "type": "command",
                "command": "/recap"
            },
            {
                "type": "command",
                "command": "/where"
            },
            {
                "type": "command",
                "command": "/back"
            },
            {
                "type": "command",
                "command": "/start"
            },
            {
                "type": "catchAll"
            }
        ],
        "outputs": 6,
        "x": 510,
        "y": 300,
        "wires": [
            [
                "1cc0f40e.35d3ec"
            ],
            [
                "cbd57a8a.22a4c8"
            ],
            [
                "2214785e.0727f8"
            ],
            [
                "acc33979.9ebea8"
            ],
            [
                "eca830d0.88938"
            ],
            [
                "fb6ef42d.3e2778"
            ]
        ]
    },
    {
        "id": "41a50237.26131c",
        "type": "chatbot-message",
        "z": "dde5902e.a2c9d",
        "name": "Confirm select",
        "message": [
            {
                "message": "Ottimo, cosa vuoi sapere di {{selectedRestaurant.name}}?"
            },
            {
                "message": "Ok, {{selectedRestaurant.name}}, cosa desideri sapere?"
            },
            {
                "message": "Perfetto! Cosa desideri sapere di {{selectedRestaurant.name}}? "
            }
        ],
        "answer": false,
        "track": false,
        "x": 660,
        "y": 780,
        "wires": [
            [
                "1fa0c89e.4923b7"
            ]
        ]
    },
    {
        "id": "1fa0c89e.4923b7",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c495d887.70d8c8"
        ],
        "x": 795,
        "y": 780,
        "wires": []
    },
    {
        "id": "cd3da08e.77b53",
        "type": "chatbot-debug",
        "z": "dde5902e.a2c9d",
        "x": 402.5,
        "y": 382.5,
        "wires": []
    },
    {
        "id": "f5d10c6c.7b891",
        "type": "chatbot-message",
        "z": "dde5902e.a2c9d",
        "name": "Errore",
        "message": [
            {
                "message": "Qualcosa e' andato storto..."
            }
        ],
        "answer": false,
        "track": false,
        "x": 630,
        "y": 860,
        "wires": [
            [
                "e5dbb97f.611078"
            ]
        ]
    },
    {
        "id": "e5dbb97f.611078",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c495d887.70d8c8"
        ],
        "x": 815,
        "y": 860,
        "wires": []
    },
    {
        "id": "defe5071.1e372",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "b41f7c82.e37fa"
        ],
        "x": 1515,
        "y": 360,
        "wires": []
    },
    {
        "id": "b41f7c82.e37fa",
        "type": "link in",
        "z": "dde5902e.a2c9d",
        "name": "Conversation.where",
        "links": [
            "defe5071.1e372",
            "2214785e.0727f8"
        ],
        "x": 155,
        "y": 1160,
        "wires": [
            [
                "585e8012.edb86"
            ]
        ]
    },
    {
        "id": "4d8a03ea.cef58c",
        "type": "comment",
        "z": "dde5902e.a2c9d",
        "name": "Handle conversation where",
        "info": "",
        "x": 250,
        "y": 1100,
        "wires": []
    },
    {
        "id": "585e8012.edb86",
        "type": "chatbot-rules",
        "z": "dde5902e.a2c9d",
        "name": "",
        "rules": [
            {
                "type": "isTopic",
                "topic": "restaurant.selected"
            },
            {
                "type": "isTopic",
                "topic": "restaurant.list"
            },
            {
                "type": "catchAll"
            }
        ],
        "outputs": 3,
        "x": 330,
        "y": 1160,
        "wires": [
            [
                "f7accd5d.32609",
                "c113e20f.352d6"
            ],
            [
                "5f146edd.ece11"
            ],
            [
                "2013aab7.2f74b6"
            ]
        ]
    },
    {
        "id": "f7accd5d.32609",
        "type": "chatbot-message",
        "z": "dde5902e.a2c9d",
        "name": "Restaurant address",
        "message": [
            {
                "message": "Ecco l'indirizzo del ristorante:\n{{selectedRestaurant.address}}"
            }
        ],
        "answer": false,
        "track": false,
        "x": 550,
        "y": 1120,
        "wires": [
            [
                "cb2b5a9c.7302a8"
            ]
        ]
    },
    {
        "id": "cb2b5a9c.7302a8",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c495d887.70d8c8"
        ],
        "x": 715,
        "y": 1120,
        "wires": []
    },
    {
        "id": "5f146edd.ece11",
        "type": "chatbot-message",
        "z": "dde5902e.a2c9d",
        "name": "Where what?",
        "message": [
            {
                "message": "Seleziona un ristarante dalla lista, poi ti sapro' dare indicazioni su come arrivarci"
            }
        ],
        "answer": false,
        "track": false,
        "x": 530,
        "y": 1160,
        "wires": [
            [
                "8270e1f9.4be2c"
            ]
        ]
    },
    {
        "id": "8270e1f9.4be2c",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c495d887.70d8c8"
        ],
        "x": 695,
        "y": 1160,
        "wires": []
    },
    {
        "id": "2013aab7.2f74b6",
        "type": "chatbot-message",
        "z": "dde5902e.a2c9d",
        "name": "Where what?",
        "message": [
            {
                "message": "Non ho capito, di cosa mi stai chiedendo l'indirizzo."
            }
        ],
        "answer": false,
        "track": false,
        "x": 530,
        "y": 1260,
        "wires": [
            [
                "1520a6db.496d29"
            ]
        ]
    },
    {
        "id": "1520a6db.496d29",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c495d887.70d8c8"
        ],
        "x": 695,
        "y": 1260,
        "wires": []
    },
    {
        "id": "bde5c5f7.113728",
        "type": "function",
        "z": "4eecbbaf.4cf274",
        "name": "Prepare buttons",
        "func": "var chat = msg.chat();\n\nchat.get('queryRestaurants')\n  .then(function(restaurants) {\n    var buttons = [];\n    restaurants.map(restaurant => {\n      buttons.push({\n        type: 'postback',\n        value: '/restaurant ' + String(restaurant.id),\n        label: restaurant.name\n      });\n      buttons.push({\n        type: 'newline'\n      });\n    });\n\n    msg.payload = {\n      buttons\n    };\n\n    node.send(msg);\n  });\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "1ed23f28.8a4ef1",
        "type": "subflow:4eecbbaf.4cf274",
        "z": "dde5902e.a2c9d",
        "x": 600,
        "y": 620,
        "wires": [
            [
                "de527e31.e7836"
            ]
        ]
    },
    {
        "id": "39af2978.f0a786",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c6484bb2.e68408"
        ],
        "x": 1515,
        "y": 640,
        "wires": []
    },
    {
        "id": "c6484bb2.e68408",
        "type": "link in",
        "z": "dde5902e.a2c9d",
        "name": "Handle didn't understand",
        "links": [
            "39af2978.f0a786",
            "6cff748.7f2d88c"
        ],
        "x": 155,
        "y": 1480,
        "wires": [
            [
                "dfe2a8af.a72578"
            ]
        ]
    },
    {
        "id": "f36d0b24.59dcf8",
        "type": "comment",
        "z": "dde5902e.a2c9d",
        "name": "Handle I didn't understand",
        "info": "",
        "x": 250,
        "y": 1420,
        "wires": []
    },
    {
        "id": "dfe2a8af.a72578",
        "type": "chatbot-rules",
        "z": "dde5902e.a2c9d",
        "name": "Select topic",
        "rules": [
            {
                "type": "isTopic",
                "topic": "restaurant.list"
            },
            {
                "type": "isTopic",
                "topic": "restaurant.selected"
            },
            {
                "type": "catchAll"
            }
        ],
        "outputs": 3,
        "x": 290,
        "y": 1480,
        "wires": [
            [
                "d5d4c636.1df558"
            ],
            [
                "4ec8ea88.412924"
            ],
            [
                "7161e026.a3e21"
            ]
        ]
    },
    {
        "id": "7161e026.a3e21",
        "type": "chatbot-message",
        "z": "dde5902e.a2c9d",
        "name": "Generic didn't understand",
        "message": [
            {
                "message": "Temo di non aver capito, sto ancora imparando. Prova con frasi del tipo \"Puoi consigliarmi un ristorante?\""
            },
            {
                "message": "Non ho capito, prova a dirmelo diversamente"
            },
            {
                "message": "Non capisco, prova a formulare la frase diversamente"
            }
        ],
        "answer": false,
        "track": false,
        "x": 550,
        "y": 1580,
        "wires": [
            [
                "ec6aac56.979b9"
            ]
        ]
    },
    {
        "id": "ec6aac56.979b9",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c495d887.70d8c8"
        ],
        "x": 715,
        "y": 1580,
        "wires": []
    },
    {
        "id": "d5d4c636.1df558",
        "type": "chatbot-inline-buttons",
        "z": "dde5902e.a2c9d",
        "name": "Didn't undersand restaurant list",
        "buttons": [
            {
                "type": "postback",
                "label": "Rivedi lista ristoranti",
                "value": "/recap",
                "answer": "",
                "alert": false,
                "style": ""
            }
        ],
        "message": "Non ho capito, ho trovato una lista di ristoranti, vuoi rivederla?",
        "x": 570,
        "y": 1460,
        "wires": [
            [
                "40621a82.1f2804"
            ]
        ]
    },
    {
        "id": "40621a82.1f2804",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c495d887.70d8c8"
        ],
        "x": 755,
        "y": 1460,
        "wires": []
    },
    {
        "id": "cbd57a8a.22a4c8",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "cf16e293.f28a9"
        ],
        "x": 715,
        "y": 180,
        "wires": []
    },
    {
        "id": "cf16e293.f28a9",
        "type": "link in",
        "z": "dde5902e.a2c9d",
        "name": "Show recap /recap",
        "links": [
            "cbd57a8a.22a4c8",
            "4c70e62c.7aa2e8"
        ],
        "x": 155,
        "y": 1780,
        "wires": [
            [
                "ddf5387e.f74768"
            ]
        ]
    },
    {
        "id": "edd0aef2.3b4ae",
        "type": "comment",
        "z": "dde5902e.a2c9d",
        "name": "Show recap /recap",
        "info": "",
        "x": 230,
        "y": 1700,
        "wires": []
    },
    {
        "id": "6cff748.7f2d88c",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c6484bb2.e68408"
        ],
        "x": 1255,
        "y": 400,
        "wires": []
    },
    {
        "id": "4c70e62c.7aa2e8",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "cf16e293.f28a9"
        ],
        "x": 1515,
        "y": 320,
        "wires": []
    },
    {
        "id": "4ec8ea88.412924",
        "type": "chatbot-inline-buttons",
        "z": "dde5902e.a2c9d",
        "name": "Didn't understand restaurant",
        "buttons": [
            {
                "type": "postback",
                "label": "Dimmi dove si trova",
                "value": "/where",
                "answer": "",
                "alert": false,
                "style": ""
            }
        ],
        "message": "Non capisco, stavamo parlando del ristorante \"{{selectedRestaurant.name}}\", per sapere l'indirizzo scrivi qualcosa tipo \"dove si trova?\"",
        "x": 560,
        "y": 1500,
        "wires": [
            [
                "3886a270.d97cae"
            ]
        ]
    },
    {
        "id": "3886a270.d97cae",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c495d887.70d8c8"
        ],
        "x": 755,
        "y": 1500,
        "wires": []
    },
    {
        "id": "2214785e.0727f8",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "b41f7c82.e37fa"
        ],
        "x": 715,
        "y": 220,
        "wires": []
    },
    {
        "id": "ddf5387e.f74768",
        "type": "chatbot-rules",
        "z": "dde5902e.a2c9d",
        "name": "Select topic",
        "rules": [
            {
                "type": "isTopic",
                "topic": "restaurant.list"
            },
            {
                "type": "isTopic",
                "topic": "restaurant.selected"
            },
            {
                "type": "catchAll"
            }
        ],
        "outputs": 3,
        "x": 290,
        "y": 1780,
        "wires": [
            [
                "7cf08899.f852b8"
            ],
            [
                "915071f9.057a5"
            ],
            [
                "f56441ce.4ff43"
            ]
        ]
    },
    {
        "id": "915071f9.057a5",
        "type": "chatbot-inline-buttons",
        "z": "dde5902e.a2c9d",
        "name": "Recap restaurant",
        "buttons": [
            {
                "type": "postback",
                "label": "Dimmi dove si trova",
                "value": "/where",
                "answer": "",
                "alert": false,
                "style": ""
            }
        ],
        "message": "Dunque, stavamo parlando del ristorante \"{{selectedRestaurant.name}}\": cosa desideri sapere?",
        "x": 530,
        "y": 1780,
        "wires": [
            [
                "f8ccad8c.032ae"
            ]
        ]
    },
    {
        "id": "f8ccad8c.032ae",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c495d887.70d8c8"
        ],
        "x": 675,
        "y": 1780,
        "wires": []
    },
    {
        "id": "49d321ab.3b9b7",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c495d887.70d8c8"
        ],
        "x": 915,
        "y": 1740,
        "wires": []
    },
    {
        "id": "de527e31.e7836",
        "type": "chatbot-inline-buttons",
        "z": "dde5902e.a2c9d",
        "name": "Restaurant Buttons",
        "buttons": [],
        "message": "Ecco i ristoranti nei dintorni:",
        "x": 830,
        "y": 620,
        "wires": [
            [
                "a1a36112.a267a"
            ]
        ]
    },
    {
        "id": "7cf08899.f852b8",
        "type": "subflow:4eecbbaf.4cf274",
        "z": "dde5902e.a2c9d",
        "x": 520,
        "y": 1740,
        "wires": [
            [
                "968e420f.9f992"
            ]
        ]
    },
    {
        "id": "968e420f.9f992",
        "type": "chatbot-inline-buttons",
        "z": "dde5902e.a2c9d",
        "name": "Recap restaurant buttons",
        "buttons": [],
        "message": "Ti avevo trovato una lista di ristoranti nei dintorni, eccola:",
        "x": 750,
        "y": 1740,
        "wires": [
            [
                "49d321ab.3b9b7"
            ]
        ]
    },
    {
        "id": "f56441ce.4ff43",
        "type": "chatbot-message",
        "z": "dde5902e.a2c9d",
        "name": "Generic recap",
        "message": [
            {
                "message": "Sono qui per aiutarti! Posso aiutarti a cercare un ristorante o qualcosa di interessante nei dintorni"
            },
            {
                "message": "Eccomi. Vuoi cercare un ristorante? Scrivi \"consigliami un ristorante nei dintorni\" "
            }
        ],
        "answer": false,
        "track": false,
        "x": 520,
        "y": 1860,
        "wires": [
            [
                "24f395bd.d2a11a"
            ]
        ]
    },
    {
        "id": "24f395bd.d2a11a",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [],
        "x": 655,
        "y": 1860,
        "wires": []
    },
    {
        "id": "540c16fb.a0c578",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "b604c0d7.7a1a1"
        ],
        "x": 1513,
        "y": 401,
        "wires": []
    },
    {
        "id": "b604c0d7.7a1a1",
        "type": "link in",
        "z": "dde5902e.a2c9d",
        "name": "Back",
        "links": [
            "540c16fb.a0c578",
            "acc33979.9ebea8"
        ],
        "x": 155,
        "y": 2300,
        "wires": [
            [
                "b8e399b7.bb14f8"
            ]
        ]
    },
    {
        "id": "3318c4a6.2a5d7c",
        "type": "comment",
        "z": "dde5902e.a2c9d",
        "name": "Handle a generic back /back",
        "info": "",
        "x": 260,
        "y": 2160,
        "wires": []
    },
    {
        "id": "b8e399b7.bb14f8",
        "type": "chatbot-rules",
        "z": "dde5902e.a2c9d",
        "name": "Select topic",
        "rules": [
            {
                "type": "isTopic",
                "topic": "restaurant.list"
            },
            {
                "type": "isTopic",
                "topic": "restaurant.selected"
            },
            {
                "type": "catchAll"
            }
        ],
        "outputs": 3,
        "x": 290,
        "y": 2300,
        "wires": [
            [],
            [
                "e1d52b5.d9b89d8",
                "18ed3df.2f9e8c2"
            ],
            []
        ]
    },
    {
        "id": "e1d52b5.d9b89d8",
        "type": "chatbot-message",
        "z": "dde5902e.a2c9d",
        "name": "Back to restaurant list",
        "message": [
            {
                "message": "Ok ti faccio rivedere la lista dei ristoranti"
            }
        ],
        "answer": false,
        "track": false,
        "x": 600,
        "y": 2300,
        "wires": [
            [
                "f5952204.397ca"
            ]
        ]
    },
    {
        "id": "f5952204.397ca",
        "type": "chatbot-context",
        "z": "dde5902e.a2c9d",
        "command": "set",
        "fieldValue": "restaurant.list",
        "fieldType": "str",
        "fieldName": "topic",
        "x": 800,
        "y": 2300,
        "wires": [
            [
                "93ab350a.482058"
            ]
        ]
    },
    {
        "id": "93ab350a.482058",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c495d887.70d8c8"
        ],
        "x": 915,
        "y": 2300,
        "wires": []
    },
    {
        "id": "f9115b88.559878",
        "type": "debug",
        "z": "dde5902e.a2c9d",
        "name": "Catch errors",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "error",
        "x": 1000,
        "y": 100,
        "wires": []
    },
    {
        "id": "acc33979.9ebea8",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "b604c0d7.7a1a1"
        ],
        "x": 715,
        "y": 260,
        "wires": []
    },
    {
        "id": "9853d2d4.dcf88",
        "type": "subflow:4eecbbaf.4cf274",
        "z": "dde5902e.a2c9d",
        "name": "",
        "x": 760,
        "y": 2240,
        "wires": [
            [
                "dfed59ba.e1d5a8"
            ]
        ]
    },
    {
        "id": "dfed59ba.e1d5a8",
        "type": "chatbot-inline-buttons",
        "z": "dde5902e.a2c9d",
        "name": "Restaurant Buttons",
        "buttons": [],
        "message": "Ecco i ristoranti nei dintorni:",
        "x": 970,
        "y": 2240,
        "wires": [
            [
                "e8e0a13d.005e1"
            ]
        ]
    },
    {
        "id": "e8e0a13d.005e1",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c495d887.70d8c8"
        ],
        "x": 1115,
        "y": 2240,
        "wires": []
    },
    {
        "id": "18ed3df.2f9e8c2",
        "type": "delay",
        "z": "dde5902e.a2c9d",
        "name": "",
        "pauseType": "delay",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 570,
        "y": 2240,
        "wires": [
            [
                "9853d2d4.dcf88"
            ]
        ]
    },
    {
        "id": "52a493d0.52c47c",
        "type": "google places",
        "z": "336e466f.27575a",
        "reqType": "placesNearby",
        "googleAPI": "fb202ea2.5e9c8",
        "name": "Restaurants",
        "lat": "",
        "lon": "",
        "query": "",
        "radius": "",
        "rankBy": "distance",
        "keyword": "restaurant",
        "language": "it",
        "minPrice": "",
        "maxPrice": "",
        "placeName": "",
        "placeId": "",
        "extensions": "",
        "openNow": "",
        "types": "restaurant",
        "outputnumber": "5",
        "outputas": "single",
        "x": 450,
        "y": 340,
        "wires": [
            [
                "5e353e66.cc94b"
            ]
        ]
    },
    {
        "id": "5e353e66.cc94b",
        "type": "function",
        "z": "336e466f.27575a",
        "name": "Filter data",
        "func": "var chat = msg.chat();\nconsole.log('RIsot')\n\nvar places = msg.payload;\n\nconsole.log(places[0].location)\nconsole.log('payload', places[0].payload)\n\nvar results = places.map(place => {\n  return {\n    id: place.placeid,\n    name: place.title,\n    address: place.location.vicinity,\n    lat: place.location.lat,\n    lon: place.location.lon,\n    rating: place.payload.rating,\n    opennow: place.payload.opennow\n  };\n\n});\n\nchat.set('queryRestaurants', results)\n  .then(function() {\n    msg.payload = results;\n    node.send(msg);\n  });\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "c113e20f.352d6",
        "type": "delay",
        "z": "dde5902e.a2c9d",
        "name": "",
        "pauseType": "delay",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 530,
        "y": 1080,
        "wires": [
            [
                "7096133f.3a97ac"
            ]
        ]
    },
    {
        "id": "7096133f.3a97ac",
        "type": "function",
        "z": "dde5902e.a2c9d",
        "name": "Prepare map",
        "func": "var chat = msg.chat();\n\nchat.get('selectedRestaurant')\n  .then(function(restaurant) {\n    msg.payload.latitude = restaurant.lat;\n    msg.payload.longitude = restaurant.lon;\n    console.log('mando', msg.payload)\n    node.send(msg);\n  });\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 1080,
        "wires": [
            [
                "d6244510.8d24e8"
            ]
        ]
    },
    {
        "id": "d6244510.8d24e8",
        "type": "chatbot-location",
        "z": "dde5902e.a2c9d",
        "name": "",
        "latitude": "",
        "longitude": "",
        "place": "",
        "x": 880,
        "y": 1080,
        "wires": [
            [
                "6a4ad002.acddb"
            ]
        ]
    },
    {
        "id": "6a4ad002.acddb",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c495d887.70d8c8"
        ],
        "x": 1015,
        "y": 1080,
        "wires": []
    },
    {
        "id": "e4273678.ffa628",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "ff90c4b6.4bb9b8"
        ],
        "x": 1513,
        "y": 439,
        "wires": []
    },
    {
        "id": "ff90c4b6.4bb9b8",
        "type": "link in",
        "z": "dde5902e.a2c9d",
        "name": "Handle conversation.rating",
        "links": [
            "e4273678.ffa628"
        ],
        "x": 155,
        "y": 2680,
        "wires": [
            [
                "ebe0630e.367c9"
            ]
        ]
    },
    {
        "id": "cea7dca8.d541e",
        "type": "comment",
        "z": "dde5902e.a2c9d",
        "name": "Handle contextual conversation.rating",
        "info": "",
        "x": 290,
        "y": 2540,
        "wires": []
    },
    {
        "id": "ebe0630e.367c9",
        "type": "chatbot-rules",
        "z": "dde5902e.a2c9d",
        "name": "Select topic",
        "rules": [
            {
                "type": "isTopic",
                "topic": "restaurant.list"
            },
            {
                "type": "isTopic",
                "topic": "restaurant.selected"
            },
            {
                "type": "catchAll"
            }
        ],
        "outputs": 3,
        "x": 290,
        "y": 2680,
        "wires": [
            [
                "1a9dbe52.65d2c2"
            ],
            [
                "ae693113.31b16"
            ],
            [
                "3cfecf7a.6678c"
            ]
        ]
    },
    {
        "id": "1a9dbe52.65d2c2",
        "type": "chatbot-message",
        "z": "dde5902e.a2c9d",
        "name": "Back to restaurant list",
        "message": [
            {
                "message": "Di quale ristorante mi stai chiedendo la valutazione? Scegline uno dalla lista"
            }
        ],
        "answer": false,
        "track": false,
        "x": 520,
        "y": 2640,
        "wires": [
            [
                "bf988934.a7b9a8"
            ]
        ]
    },
    {
        "id": "bf988934.a7b9a8",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c495d887.70d8c8"
        ],
        "x": 675,
        "y": 2640,
        "wires": []
    },
    {
        "id": "ae693113.31b16",
        "type": "chatbot-message",
        "z": "dde5902e.a2c9d",
        "name": "Show rating",
        "message": [
            {
                "message": "Il rating di questo ristorante è {{selectedRestaurant.rating}}"
            },
            {
                "message": "Questa è la valutazione {{selectedRestaurant.rating}} dei clienti"
            },
            {
                "message": "Il rating di {{selectedRestaurant.name}} è {{selectedRestaurant.rating}}"
            }
        ],
        "answer": false,
        "track": false,
        "x": 490,
        "y": 2680,
        "wires": [
            [
                "795f352d.1a777c"
            ]
        ]
    },
    {
        "id": "795f352d.1a777c",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c495d887.70d8c8"
        ],
        "x": 675,
        "y": 2680,
        "wires": []
    },
    {
        "id": "3cfecf7a.6678c",
        "type": "chatbot-message",
        "z": "dde5902e.a2c9d",
        "name": "Generic",
        "message": [
            {
                "message": "Di cosa mi stai chiedendo una valutazione? Cerca un ristorante o un posto interessante e poi rifammi la domanda"
            }
        ],
        "answer": false,
        "track": false,
        "x": 480,
        "y": 2720,
        "wires": [
            [
                "e030725a.a4834"
            ]
        ]
    },
    {
        "id": "e030725a.a4834",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c495d887.70d8c8"
        ],
        "x": 675,
        "y": 2720,
        "wires": []
    },
    {
        "id": "f8673d15.114b",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [],
        "x": 1515,
        "y": 480,
        "wires": []
    },
    {
        "id": "f987ecea.f2774",
        "type": "link in",
        "z": "dde5902e.a2c9d",
        "name": "Handle startover",
        "links": [],
        "x": 155,
        "y": 3020,
        "wires": [
            [
                "2a72ac9.81f6854"
            ]
        ]
    },
    {
        "id": "2a03f4a6.9a2bfc",
        "type": "comment",
        "z": "dde5902e.a2c9d",
        "name": "Handle startover",
        "info": "",
        "x": 220,
        "y": 2960,
        "wires": []
    },
    {
        "id": "2a72ac9.81f6854",
        "type": "function",
        "z": "dde5902e.a2c9d",
        "name": "Start over",
        "func": "var chat = msg.chat();\n\nchat.set({\n  selectedRestaurant: null,\n  queryRestaurants: null,\n  topic: null\n}).then(function() {\n  node.send(msg);\n});\n",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 3020,
        "wires": [
            [
                "d83167ff.830388"
            ]
        ]
    },
    {
        "id": "d83167ff.830388",
        "type": "chatbot-message",
        "z": "dde5902e.a2c9d",
        "name": "Ok, startover",
        "message": [
            {
                "message": "Ok, ricominciamo daccapo"
            },
            {
                "message": "Ok, torniamo all'inizio"
            }
        ],
        "answer": false,
        "track": false,
        "x": 470,
        "y": 3020,
        "wires": [
            [
                "33870301.a35a2c"
            ]
        ]
    },
    {
        "id": "33870301.a35a2c",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c495d887.70d8c8"
        ],
        "x": 595,
        "y": 3020,
        "wires": []
    },
    {
        "id": "eca830d0.88938",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "6141ccb1.3f2554"
        ],
        "x": 715,
        "y": 300,
        "wires": []
    },
    {
        "id": "2e1e09ff.5a9d16",
        "type": "comment",
        "z": "dde5902e.a2c9d",
        "name": "Handle /start",
        "info": "",
        "x": 195,
        "y": 3178,
        "wires": []
    },
    {
        "id": "6141ccb1.3f2554",
        "type": "link in",
        "z": "dde5902e.a2c9d",
        "name": "Handle /start",
        "links": [
            "eca830d0.88938"
        ],
        "x": 135,
        "y": 3260,
        "wires": [
            [
                "2e1525ae.d5711a"
            ]
        ]
    },
    {
        "id": "2e1525ae.d5711a",
        "type": "chatbot-message",
        "z": "dde5902e.a2c9d",
        "name": "Welcome text",
        "message": [
            {
                "message": "Ciao! Come posso aiutarti? Posso consigliarti un ristorante nelle vicinanze o un posto interessante."
            }
        ],
        "answer": false,
        "track": false,
        "x": 300,
        "y": 3260,
        "wires": [
            [
                "22791259.3cfa4e"
            ]
        ]
    },
    {
        "id": "22791259.3cfa4e",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c495d887.70d8c8"
        ],
        "x": 455,
        "y": 3260,
        "wires": []
    },
    {
        "id": "762f5fe9.b1275",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "4b40fe81.32681"
        ],
        "x": 1515,
        "y": 520,
        "wires": []
    },
    {
        "id": "fbc8303f.85a9f",
        "type": "comment",
        "z": "dde5902e.a2c9d",
        "name": "Handle conversation.nearest.restaurant",
        "info": "",
        "x": 250,
        "y": 3460,
        "wires": []
    },
    {
        "id": "4b40fe81.32681",
        "type": "link in",
        "z": "dde5902e.a2c9d",
        "name": "Closest restaurant",
        "links": [
            "762f5fe9.b1275"
        ],
        "x": 115,
        "y": 3540,
        "wires": [
            [
                "25c19835.d0d8b8"
            ]
        ]
    },
    {
        "id": "25c19835.d0d8b8",
        "type": "subflow:336e466f.27575a",
        "z": "dde5902e.a2c9d",
        "name": "",
        "x": 270,
        "y": 3540,
        "wires": [
            [
                "b0bfa89d.51cea8"
            ],
            []
        ]
    },
    {
        "id": "b0bfa89d.51cea8",
        "type": "function",
        "z": "dde5902e.a2c9d",
        "name": "Select first restaurant (closes)",
        "func": "var chat = msg.chat();\n\nchat.set({\n  selectedRestaurant: msg.payload[0],\n  topic: 'restaurant.selected'\n}).then(function() {\n  node.send(msg);\n});",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 3540,
        "wires": [
            [
                "4d28a9fe.dd0868"
            ]
        ]
    },
    {
        "id": "4d28a9fe.dd0868",
        "type": "chatbot-message",
        "z": "dde5902e.a2c9d",
        "name": "Closest",
        "message": [
            {
                "message": "Dunque, il ristorante più vicino e' {{selectedRestaurant.name}}"
            },
            {
                "message": "Ho trovato {{selectedRestaurant.name}}"
            },
            {
                "message": "Il piu vicino è {{selectedRestaurant.name}}"
            }
        ],
        "answer": false,
        "track": false,
        "x": 800,
        "y": 3540,
        "wires": [
            [
                "14331687.f04e49"
            ]
        ]
    },
    {
        "id": "14331687.f04e49",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c495d887.70d8c8"
        ],
        "x": 935,
        "y": 3540,
        "wires": []
    },
    {
        "id": "c963774f.b7b1c8",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "7247c0de.e4188"
        ],
        "x": 1515,
        "y": 560,
        "wires": []
    },
    {
        "id": "e691280e.87d1a8",
        "type": "comment",
        "z": "dde5902e.a2c9d",
        "name": "Handle conversation.more",
        "info": "",
        "x": 210,
        "y": 3760,
        "wires": []
    },
    {
        "id": "7247c0de.e4188",
        "type": "link in",
        "z": "dde5902e.a2c9d",
        "name": "Handle conversation.more",
        "links": [
            "c963774f.b7b1c8"
        ],
        "x": 115,
        "y": 3880,
        "wires": [
            [
                "573c32b7.19bd8c"
            ]
        ]
    },
    {
        "id": "573c32b7.19bd8c",
        "type": "chatbot-rules",
        "z": "dde5902e.a2c9d",
        "name": "Select topic",
        "rules": [
            {
                "type": "isTopic",
                "topic": "restaurant.selected"
            },
            {
                "type": "catchAll"
            }
        ],
        "outputs": 2,
        "x": 250,
        "y": 3880,
        "wires": [
            [
                "637bdcdf.6e0b54",
                "5cb1e1de.c468c"
            ],
            [
                "d5b56d36.94dc4"
            ]
        ]
    },
    {
        "id": "d5b56d36.94dc4",
        "type": "chatbot-message",
        "z": "dde5902e.a2c9d",
        "name": "Don't know",
        "message": [
            {
                "message": "Non saprei darti piu' informazioni, seleziona un ristorante o un luogo di interesse"
            },
            {
                "message": "Non capisco quali informazioni aggiuntive cerchi"
            }
        ],
        "answer": false,
        "track": false,
        "x": 470,
        "y": 3960,
        "wires": [
            [
                "e7c18a84.137c18"
            ]
        ]
    },
    {
        "id": "e7c18a84.137c18",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c495d887.70d8c8"
        ],
        "x": 595,
        "y": 3960,
        "wires": []
    },
    {
        "id": "79fddf2f.16547",
        "type": "template",
        "z": "dde5902e.a2c9d",
        "name": "Answer template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Il ristorante è valutato {{payload.rating}} dai suoi clienti, in questo momento è\n{{payload.opennowLabel}}, si trova in {{payload.address}}",
        "output": "str",
        "x": 690,
        "y": 3860,
        "wires": [
            [
                "64701432.33f03c"
            ]
        ]
    },
    {
        "id": "39a1301c.2f82b",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c495d887.70d8c8"
        ],
        "x": 1035,
        "y": 3860,
        "wires": []
    },
    {
        "id": "64701432.33f03c",
        "type": "chatbot-message",
        "z": "dde5902e.a2c9d",
        "name": "All info message",
        "message": [
            {
                "message": ""
            }
        ],
        "answer": false,
        "track": false,
        "x": 900,
        "y": 3860,
        "wires": [
            [
                "39a1301c.2f82b"
            ]
        ]
    },
    {
        "id": "637bdcdf.6e0b54",
        "type": "function",
        "z": "dde5902e.a2c9d",
        "name": "payload.restaurant",
        "func": "var chat = msg.chat();\n\nchat.get('selectedRestaurant')\n  .then(function(restaurant) {\n    msg.payload = restaurant;\n    msg.payload.opennowLabel = restaurant.opennow ? 'aperto' : 'chiuso'; \n    node.send(msg);\n  });\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 3860,
        "wires": [
            [
                "79fddf2f.16547"
            ]
        ]
    },
    {
        "id": "5cb1e1de.c468c",
        "type": "delay",
        "z": "dde5902e.a2c9d",
        "name": "",
        "pauseType": "delay",
        "timeout": "300",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 450,
        "y": 3820,
        "wires": [
            [
                "5a5f7118.53692"
            ]
        ]
    },
    {
        "id": "5a5f7118.53692",
        "type": "function",
        "z": "dde5902e.a2c9d",
        "name": "Prepare map",
        "func": "var chat = msg.chat();\n\nchat.get('selectedRestaurant')\n  .then(function(restaurant) {\n    msg.payload.latitude = restaurant.lat;\n    msg.payload.longitude = restaurant.lon;\n    console.log('mando', msg.payload)\n    node.send(msg);\n  });\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 3820,
        "wires": [
            [
                "4ea6e31c.012e4c"
            ]
        ]
    },
    {
        "id": "4ea6e31c.012e4c",
        "type": "chatbot-location",
        "z": "dde5902e.a2c9d",
        "name": "",
        "latitude": "",
        "longitude": "",
        "place": "",
        "x": 800,
        "y": 3820,
        "wires": [
            [
                "b9a7bf88.e934c"
            ]
        ]
    },
    {
        "id": "b9a7bf88.e934c",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c495d887.70d8c8"
        ],
        "x": 935,
        "y": 3820,
        "wires": []
    },
    {
        "id": "ccfc9f99.8a4ab",
        "type": "comment",
        "z": "dde5902e.a2c9d",
        "name": "Handle contextualized conversation.help",
        "info": "",
        "x": 260,
        "y": 4120,
        "wires": []
    },
    {
        "id": "70a60846.2743d8",
        "type": "link in",
        "z": "dde5902e.a2c9d",
        "name": "Handle conversation.help",
        "links": [
            "796edd3.cd6a324"
        ],
        "x": 115,
        "y": 4260,
        "wires": [
            [
                "fdcd5abf.566488"
            ]
        ]
    },
    {
        "id": "fdcd5abf.566488",
        "type": "chatbot-rules",
        "z": "dde5902e.a2c9d",
        "name": "Select topic",
        "rules": [
            {
                "type": "isTopic",
                "topic": "restaurant.selected"
            },
            {
                "type": "isTopic",
                "topic": "restaurant.list"
            },
            {
                "type": "catchAll"
            }
        ],
        "outputs": 3,
        "x": 270,
        "y": 4260,
        "wires": [
            [
                "b95d1d9c.c19a6"
            ],
            [
                "d42d39f0.314a18"
            ],
            [
                "ec3a1c1e.86561"
            ]
        ]
    },
    {
        "id": "ec3a1c1e.86561",
        "type": "chatbot-message",
        "z": "dde5902e.a2c9d",
        "name": "Generic help",
        "message": [
            {
                "message": "Posso aiutarti a trovare il ristorante piu' vicino o i luoghi interessanti nei dintorni, prova con \"indicami il ristorante più vicino\""
            }
        ],
        "answer": false,
        "track": false,
        "x": 490,
        "y": 4300,
        "wires": [
            [
                "2cc0be1e.809792"
            ]
        ]
    },
    {
        "id": "2cc0be1e.809792",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c495d887.70d8c8"
        ],
        "x": 615,
        "y": 4300,
        "wires": []
    },
    {
        "id": "b95d1d9c.c19a6",
        "type": "chatbot-message",
        "z": "dde5902e.a2c9d",
        "name": "Help with a selected restaurant",
        "message": [
            {
                "message": "Stavamo parlando del ristorante {{selectedRestaurant.name}}, puoi chiedermi indicazioni per raggiungerlo (\"dimmi l'indirizzo\") oppure se hai cambiato idea, scegliere un altro ristorante dalla lista (\"fammi rivedere la lista\")"
            }
        ],
        "answer": false,
        "track": false,
        "x": 550,
        "y": 4220,
        "wires": [
            [
                "9d75d1f4.3fc2d"
            ]
        ]
    },
    {
        "id": "9d75d1f4.3fc2d",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c495d887.70d8c8"
        ],
        "x": 755,
        "y": 4220,
        "wires": []
    },
    {
        "id": "d42d39f0.314a18",
        "type": "chatbot-message",
        "z": "dde5902e.a2c9d",
        "name": "Help with a restaurant list",
        "message": [
            {
                "message": "Ti ho appena trovato una lista di ristoranti, scegline uno dalla lista per avere piu' informazioni oppure scegli quello piu' vicino (\"consigliami il ristorante piu' vicino\")"
            }
        ],
        "answer": false,
        "track": false,
        "x": 530,
        "y": 4260,
        "wires": [
            [
                "7164d485.5feaec"
            ]
        ]
    },
    {
        "id": "7164d485.5feaec",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "c495d887.70d8c8"
        ],
        "x": 695,
        "y": 4260,
        "wires": []
    },
    {
        "id": "796edd3.cd6a324",
        "type": "link out",
        "z": "dde5902e.a2c9d",
        "name": "",
        "links": [
            "70a60846.2743d8"
        ],
        "x": 1515,
        "y": 600,
        "wires": []
    },
    {
        "id": "fa46917c.ccfe7",
        "type": "function",
        "z": "336e466f.27575a",
        "name": "Payload for Google",
        "func": "var latitude = context.global.latitude;\nvar longitude = context.global.longitude;\n\nmsg.location = {\n  lat: latitude,\n  lon: longitude\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 230,
        "y": 340,
        "wires": [
            [
                "52a493d0.52c47c"
            ]
        ]
    }
]